<div class="alert header" role="alert" [ngStyle]="{ 'background-color': themesService.currentTheme.headerBackground }">
  <div class="row">
    <div class="col">
      <h1 [ngStyle]="{ 'color': themesService.currentTheme.headerTexte }">Game of life</h1>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <select class="form-select form-select-lg m-2" aria-label=".form-select-lg example"
              (change)="onGameSelect($event)">
        <option>Load a Game</option>
        <option *ngFor="let game of gameDatas" [ngValue]="game">{{game.label}}</option>
      </select>

      <button type="button"
              [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
              class="btn btn-primary" (click)="loadGame()">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="c-style mb-4" [ngStyle]="{ 'background-color': themesService.currentTheme.backgroundGrille }">
        <div class="grid-container row" *ngIf="gameData">
          <div *ngFor="let row of gameData?.grid; let i = index" class="grid-row col-8">
            <div
              *ngFor="let cell of row; let j = index"
              class="grid-cell circle"
              (click)="loadMotif?null:onClickCell(i, j)"
              [ngClass]="{ 'selected': isSelected(i, j) }"
              [ngStyle]="{
              'border': '1px solid '+ themesService.currentTheme.backgroundBorderCellule,
              'background-color': isSelected(i, j) ?
               themesService.currentTheme.backgroundCelluleVivante :
               themesService.currentTheme.backgroundCelluleMorte }"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 leftEls">
      <div class="speed-control">
        <label for="customRange2">Speed:</label>
        <input type="range" min="0" max="1000" class="form-range" id="customRange2" [(ngModel)]="speed"
               (input)="onSpeedChange()">
        {{ speed }}
      </div>

      <div class="d-flex flex-column justify-content-end">
        <button [disabled]="loadMotif" type="button"
                [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                class="btn btn-primary buttonClass buttonClass" (click)="onClickStop()">
          <i class="bi bi-stop-circle"></i>
          STOP
        </button>
        <button [disabled]="loadMotif"
                [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                type="button" class="btn btn-primary buttonClass" (click)="onClickStart()">
          <i class="bi bi-play-fill"></i>
          START
        </button>
        <button type="button"
                [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                class="btn btn-primary buttonClass" (click)="clearGrid()">
          <i class="bi bi-x"></i>
          CLEAR
        </button>
        <h3 style="text-align: center" class="text-light">Enregistrer un motif</h3>
        <div class="form-group">
          <input type="text" placeholder="Label" class="form-control m-2" id="exampleInput" [(ngModel)]="labelData"
                 name="label">
        </div>

        <button [disabled]="labelData == ''"
                [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                class="btn btn-primary buttonClass"
                (click)="saveGame(gameData)">
          <i class="bi bi-x"></i>
          SAVE
        </button>

        <button type="button"
                [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                class="btn btn-primary buttonClass" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bi bi-exclamation-lg"></i>
          EXPLANATION
        </button>

        <button type="button"
                [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                class="btn btn-primary buttonClass" data-bs-toggle="modal" data-bs-target="#setting">
          <i class="bi bi-gear"></i>
          MORE SETTING
        </button>

        <div class="modal fade" id="setting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content myModal">
              <div class="modal-header">
                <h5 class="modal-title text-light" id="staticBackdropLabel">MORE SETTING</h5>
                <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <button class="btn btn-success"
                              [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                              type="button" id="button-addon1" data-bs-dismiss="modal" (click)="updateSize()">
                        <i class="bi bi-plus-circle"></i>
                      </button>
                      <input type="number" min="50"
                             class="form-control" [(ngModel)]="gridSize"
                             placeholder="Augmenter la taille de la grille"
                             aria-label="Example text with button addon" aria-describedby="button-addon1">
                      <span class="input-group-text">Grid Size</span>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">

                      <select class="form-select form-select-lg mb-3"
                              (change)="onThemeChange($event)"
                              aria-label=".form-select-lg example">
                        <option>Load a Theme</option>
                        <option *ngFor="let theme of themes" [ngValue]="theme">{{ theme }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class=" modal-dialog modal-lg">
            <div class="modal-content myModal">
              <div class="modal-header">
                <h5 class="modal-title text-light" id="exampleModalLabel">Game of Life Explanation</h5>
                <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body d-block m-2">
                <p class="text-light">
                  The Game of Life is not your typical computer game. It is a cellular automaton, and was invented by
                  Cambridge mathematician John Conway.

                  This game became widely known when it was mentioned in an article published by Scientific American in
                  1970. It consists of a grid of cells which, based on a few mathematical rules, can live, die or
                  multiply. Depending on the initial conditions, the cells form various patterns throughout the course
                  of the game.
                </p>

                <p><img src="assets/images/conway.png" alt="explanation" width="700"></p>
              </div>
              <div class="modal-footer">
                <button type="button"
                        [ngStyle]="{
                'color':themesService.currentTheme.boutonTexte,
                'background-color': themesService.currentTheme.backgroundBouton }"
                        class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
